.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 80px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_Search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    padding-left: 40px;

}

select{
    height: 34px;
    width: 10%;
    color: black;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 50%;
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.language{
    display: flex;
}

.lang{
    height: 25px;
}
